In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 50.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=791e19fcf2028bef00b1780c1d8c69915b8b815db34d3f5a47ca393f0750694c
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [18]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder \
          .appName('DateDiff') \
          .getOrCreate()
data = [("1","2019-07-01"),("2","2019-06-24"),("3","2019-08-24")]

In [15]:
df=spark.createDataFrame(data=data,schema=["id","date"])

In [16]:
from pyspark.sql.functions import *

df.select(
      col("date"),
      current_date().alias("current_date"),
      datediff(current_date(),col("date")).alias("datediff")
    ).show()

+----------+------------+--------+
|      date|current_date|datediff|
+----------+------------+--------+
|2019-07-01|  2022-12-21|    1269|
|2019-06-24|  2022-12-21|    1276|
|2019-08-24|  2022-12-21|    1215|
+----------+------------+--------+

In [17]:
df.withColumn("datesDiff", datediff(current_date(),col("date"))) \
  .withColumn("montsDiff", months_between(current_date(),col("date"))) \
  .withColumn("montsDiff_round",round(months_between(current_date(),col("date")),2)) \
  .withColumn("yearsDiff",months_between(current_date(),col("date"))/lit(12)) \
  .withColumn("yearsDiff_round",round(months_between(current_date(),col("date"))/lit(12),2)) \
  .show()

+---+----------+---------+-----------+---------------+-----------------+---------------+
| id|      date|datesDiff|  montsDiff|montsDiff_round|        yearsDiff|yearsDiff_round|
+---+----------+---------+-----------+---------------+-----------------+---------------+
|  1|2019-07-01|     1269|41.64516129|          41.65|     3.4704301075|           3.47|
|  2|2019-06-24|     1276|41.90322581|           41.9|3.491935484166667|           3.49|
|  3|2019-08-24|     1215|39.90322581|           39.9|     3.3252688175|           3.33|
+---+----------+---------+-----------+---------------+-----------------+---------------+

In [7]:
data2 = [("1","07-01-2019"),("2","06-24-2019"),("3","08-24-2019")]  
df2=spark.createDataFrame(data=data2,schema=["id","date"])

In [10]:
df2.select(
    to_date(col("date"),"MM-dd-yyyy").alias("date"),
    current_date().alias("endDate")
    ).show()

+----------+----------+
|      date|   endDate|
+----------+----------+
|2019-07-01|2022-12-21|
|2019-06-24|2022-12-21|
|2019-08-24|2022-12-21|
+----------+----------+

In [13]:
#SQL

spark.sql("select round(months_between('2019-07-01',current_date())/12,2) as years_diff").show()

+----------+
|years_diff|
+----------+
|     -3.47|
+----------+