In [ ]:
!pip install pyspark

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

spark = SparkSession.builder.appName('UDF').getOrCreate()

In [ ]:
columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders")]

In [ ]:
df = spark.createDataFrame(data=data,schema=columns)

df.show(truncate=False)

In [ ]:
def convertCase(str):
    resStr=""
    arr = str.split(" ")
    for x in arr:
       resStr= resStr + x[0:1].upper() + x[1:len(x)] + " "
    return resStr

In [ ]:
""" Converting function to UDF """
convertUDF = udf(lambda z: convertCase(z))

In [ ]:
df.select(col("Seqno"), \
    convertUDF(col("Name")).alias("Name") ) \
.show(truncate=False)

In [ ]:
@udf(returnType=StringType()) 
def upperCase(str):
    return str.upper()

In [ ]:
upperCaseUDF = udf(lambda z:upperCase(z),StringType())

In [ ]:
df.withColumn("Cureated Name", upperCase(col("Name"))) \
.show(truncate=False)

In [ ]:
""" Using UDF on SQL """
spark.udf.register("convertUDF", convertCase,StringType())

In [ ]:
df.createOrReplaceTempView("NAME_TABLE")
spark.sql("select Seqno, convertUDF(Name) as Name from NAME_TABLE") \
     .show(truncate=False)

In [ ]:
spark.sql("select Seqno, convertUDF(Name) as Name from NAME_TABLE " + \
          "where Name is not null and convertUDF(Name) like '%John%'") \
     .show(truncate=False)

In [ ]:
""" null check """

columns = ["Seqno","Name"]
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders"),
    ('4',None)]

In [ ]:
df2 = spark.createDataFrame(data=data,schema=columns)
df2.show(truncate=False)

In [ ]:
df2.createOrReplaceTempView("NAME_TABLE2")

In [ ]:
spark.udf.register("_nullsafeUDF", lambda str: convertCase(str) if not str is None else "" , StringType())

In [ ]:
spark.sql("select _nullsafeUDF(Name) from NAME_TABLE2") \
     .show(truncate=False)

In [ ]:
spark.sql("select Seqno, _nullsafeUDF(Name) as Name from NAME_TABLE2 " + \
          " where Name is not null and _nullsafeUDF(Name) like '%John%'") \
     .show(truncate=False)