In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 52.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=8cf81ecebe849e8add2e3065f769ba33acee1d6c2372672091587bd8f9369a14
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
import pyspark
import pandas as pd
import numpy as np
import time
from datetime import date , timedelta, datetime

In [3]:
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:
#start the spark session

spark=SparkSession.builder.appName('Covid').getOrCreate()

In [5]:
spark

In [49]:
#Read the data

cases = spark.read.load('Case.csv', format="csv",inferSchema=True,header=True)

In [7]:
cases.show(5)

+--------+--------+------------+-----+--------------------+---------+---------+----------+
| case_id|province|        city|group|      infection_case|confirmed| latitude| longitude|
+--------+--------+------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|  Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|   Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|     Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|   Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
+--------+--------+------------+-----+--------------------+---------+---------+----------+
only showing top 5 rows

In [8]:
cases.printSchema()

root
 |--  case_id: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

In [9]:
cases.limit(10).toPandas()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374
5,1000006,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
6,1000007,Seoul,from other city,True,SMR Newly Planted Churches Group,36,-,-
7,1000008,Seoul,Dongdaemun-gu,True,Dongan Church,17,37.592888,127.056766
8,1000009,Seoul,from other city,True,Coupang Logistics Center,25,-,-
9,1000010,Seoul,Gwanak-gu,True,Wangsung Church,30,37.481735,126.930121

In [12]:
#change the columns name

cases = cases.withColumnRenamed('infection_case','infection_source')

In [13]:
cases.show(5)

+--------+--------+------------+-----+--------------------+---------+---------+----------+
| case_id|province|        city|group|    infection_source|confirmed| latitude| longitude|
+--------+--------+------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|  Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|   Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|     Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|   Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
+--------+--------+------------+-----+--------------------+---------+---------+----------+
only showing top 5 rows

In [14]:
#Select

cases = cases.select('province','city','infection_source','confirmed')

cases.show(5)

+--------+------------+--------------------+---------+
|province|        city|    infection_source|confirmed|
+--------+------------+--------------------+---------+
|   Seoul|  Yongsan-gu|       Itaewon Clubs|      139|
|   Seoul|   Gwanak-gu|             Richway|      119|
|   Seoul|     Guro-gu| Guro-gu Call Center|       95|
|   Seoul|Yangcheon-gu|Yangcheon Table T...|       43|
|   Seoul|   Dobong-gu|     Day Care Center|       43|
+--------+------------+--------------------+---------+
only showing top 5 rows

In [20]:
#Sorting

cases.sort("confirmed").show()

+-----------------+---------------+--------------------+---------+
|         province|           city|    infection_source|confirmed|
+-----------------+---------------+--------------------+---------+
|          Jeju-do|              -|contact with patient|        0|
|       Gangwon-do|              -|contact with patient|        0|
|            Seoul|     Gangseo-gu|SJ Investment Cal...|        0|
|            Busan|from other city|Cheongdo Daenam H...|        1|
|     Jeollabuk-do|from other city|  Shincheonji Church|        1|
|            Seoul|from other city|Anyang Gunpo Past...|        1|
|            Seoul|     Gangnam-gu|Gangnam Dongin Ch...|        1|
|           Sejong|from other city|  Shincheonji Church|        1|
|     Jeollanam-do|from other city|  Shincheonji Church|        1|
|          Jeju-do|from other city|       Itaewon Clubs|        1|
|            Seoul|from other city|Daejeon door-to-d...|        1|
|            Seoul|              -|         Orange Life|        1|
|           Sejong|              -|                 etc|        1|
|          Gwangju|              -|                 etc|        1|
|            Daegu|from other city|       Itaewon Clubs|        2|
|            Daegu|from other city|Cheongdo Daenam H...|        2|
|          Incheon|from other city|  Shincheonji Church|        2|
|            Seoul|from other city|Uiwang Logistics ...|        2|
|          Daejeon|from other city|  Shincheonji Church|        2|
|Chungcheongbuk-do|from other city| Guro-gu Call Center|        2|
+-----------------+---------------+--------------------+---------+
only showing top 20 rows

In [17]:
#Descending sort

from pyspark.sql import functions as F

cases.sort(F.desc('confirmed')).show()

+-----------------+---------------+--------------------+---------+
|         province|           city|    infection_source|confirmed|
+-----------------+---------------+--------------------+---------+
|            Daegu|         Nam-gu|  Shincheonji Church|     4511|
|            Daegu|              -|contact with patient|      917|
|            Daegu|              -|                 etc|      747|
| Gyeongsangbuk-do|from other city|  Shincheonji Church|      566|
|      Gyeonggi-do|              -|     overseas inflow|      305|
|            Seoul|              -|     overseas inflow|      298|
|            Daegu|   Dalseong-gun|Second Mi-Ju Hosp...|      196|
| Gyeongsangbuk-do|              -|contact with patient|      190|
|            Seoul|              -|contact with patient|      162|
|            Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
| Gyeongsangbuk-do|              -|                 etc|      133|
|            Daegu|         Seo-gu|Hansarang Convale...|      124|
|            Seoul|      Gwanak-gu|             Richway|      119|
| Gyeongsangbuk-do|   Cheongdo-gun|Cheongdo Daenam H...|      119|
|Chungcheongnam-do|     Cheonan-si|gym facility in C...|      103|
|            Daegu|   Dalseong-gun|Daesil Convalesce...|      101|
|            Seoul|              -|                 etc|      100|
|            Seoul|        Guro-gu| Guro-gu Call Center|       95|
|      Gyeonggi-do|              -|                 etc|       84|
|          Incheon|              -|     overseas inflow|       68|
+-----------------+---------------+--------------------+---------+
only showing top 20 rows

In [24]:
#Column type

cases =  cases.withColumn('confirmed', F.col('confirmed').cast(IntegerType()))
cases =  cases.withColumn('city', F.col('city').cast(StringType()))

In [25]:
cases.dtypes

[('province', 'string'),
 ('city', 'string'),
 ('infection_source', 'string'),
 ('confirmed', 'int')]

In [28]:
#filter
# &, |, ~

cases.filter((cases.confirmed>10) & (cases.province=='Daegu')).show()

+--------+------------+--------------------+---------+
|province|        city|    infection_source|confirmed|
+--------+------------+--------------------+---------+
|   Daegu|      Nam-gu|  Shincheonji Church|     4511|
|   Daegu|Dalseong-gun|Second Mi-Ju Hosp...|      196|
|   Daegu|      Seo-gu|Hansarang Convale...|      124|
|   Daegu|Dalseong-gun|Daesil Convalesce...|      101|
|   Daegu|     Dong-gu|     Fatima Hospital|       39|
|   Daegu|           -|     overseas inflow|       41|
|   Daegu|           -|contact with patient|      917|
|   Daegu|           -|                 etc|      747|
+--------+------------+--------------------+---------+

In [30]:
#Groupby

cases.groupby(['province','city']).agg(F.sum('confirmed'),F.max('confirmed')).show()

+----------------+---------------+--------------+--------------+
|        province|           city|sum(confirmed)|max(confirmed)|
+----------------+---------------+--------------+--------------+
|Gyeongsangnam-do|       Jinju-si|             9|             9|
|           Seoul|        Guro-gu|           139|            95|
|           Seoul|     Gangnam-gu|            18|             7|
|         Daejeon|              -|           100|            55|
|    Jeollabuk-do|from other city|             6|             3|
|Gyeongsangnam-do|Changnyeong-gun|             7|             7|
|           Seoul|              -|           561|           298|
|         Jeju-do|from other city|             1|             1|
|Gyeongsangbuk-do|              -|           345|           190|
|Gyeongsangnam-do|   Geochang-gun|            18|            10|
|Gyeongsangbuk-do|        Gumi-si|            10|            10|
|         Incheon|from other city|           117|            53|
|           Busan|              -|            85|            36|
|           Daegu|         Seo-gu|           124|           124|
|           Busan|     Suyeong-gu|             5|             5|
|     Gyeonggi-do|   Uijeongbu-si|            50|            50|
|           Seoul|     Yongsan-gu|           139|           139|
|           Daegu|              -|          1705|           917|
|           Seoul|   Seodaemun-gu|             5|             5|
|     Gyeonggi-do|    Seongnam-si|            94|            67|
+----------------+---------------+--------------+--------------+
only showing top 20 rows

In [31]:
cases.groupby(['province','city']).agg(F.sum('confirmed').alias(('TotalConfirmed')),F.max('confirmed').alias('MaxfromOneConfirmedCase')).show()

+----------------+---------------+--------------+-----------------------+
|        province|           city|TotalConfirmed|MaxfromOneConfirmedCase|
+----------------+---------------+--------------+-----------------------+
|Gyeongsangnam-do|       Jinju-si|             9|                      9|
|           Seoul|        Guro-gu|           139|                     95|
|           Seoul|     Gangnam-gu|            18|                      7|
|         Daejeon|              -|           100|                     55|
|    Jeollabuk-do|from other city|             6|                      3|
|Gyeongsangnam-do|Changnyeong-gun|             7|                      7|
|           Seoul|              -|           561|                    298|
|         Jeju-do|from other city|             1|                      1|
|Gyeongsangbuk-do|              -|           345|                    190|
|Gyeongsangnam-do|   Geochang-gun|            18|                     10|
|Gyeongsangbuk-do|        Gumi-si|            10|                     10|
|         Incheon|from other city|           117|                     53|
|           Busan|              -|            85|                     36|
|           Daegu|         Seo-gu|           124|                    124|
|           Busan|     Suyeong-gu|             5|                      5|
|     Gyeonggi-do|   Uijeongbu-si|            50|                     50|
|           Seoul|     Yongsan-gu|           139|                    139|
|           Daegu|              -|          1705|                    917|
|           Seoul|   Seodaemun-gu|             5|                      5|
|     Gyeonggi-do|    Seongnam-si|            94|                     67|
+----------------+---------------+--------------+-----------------------+
only showing top 20 rows

In [32]:
# join

regions = spark.read.load('Region.csv',format='csv',inferSchema=True,header=True)

In [33]:
regions.show()

+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
| code|province|         city| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|10000|   Seoul|        Seoul|37.566953|126.977977|                    607|               830|              48|         1.44|                   15.38|                5.8|             22739|
|10010|   Seoul|   Gangnam-gu|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|10020|   Seoul|  Gangdong-gu|37.530492|127.123837|                     27|                32|               0|         1.54|                   14.55|                5.4|              1023|
|10030|   Seoul|   Gangbuk-gu|37.639938|127.025508|                     14|                21|               0|         0.67|                   19.49|                8.5|               628|
|10040|   Seoul|   Gangseo-gu|37.551166|126.849506|                     36|                56|               1|         1.17|                   14.39|                5.7|              1080|
|10050|   Seoul|    Gwanak-gu| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|10060|   Seoul|  Gwangjin-gu|37.538712|127.082366|                     22|                33|               3|         1.16|                   13.75|                4.8|               723|
|10070|   Seoul|      Guro-gu|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|10080|   Seoul| Geumcheon-gu|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|
|10090|   Seoul|     Nowon-gu|37.654259|127.056294|                     42|                66|               6|         1.39|                    15.4|                7.4|               952|
|10100|   Seoul|    Dobong-gu|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|
|10110|   Seoul|Dongdaemun-gu|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|
|10120|   Seoul|   Dongjak-gu|37.510571|126.963604|                     21|                34|               3|         1.17|                   15.85|                5.2|               762|
|10130|   Seoul|      Mapo-gu|37.566283|126.901644|                     22|                24|               2|         1.83|                   14.05|                4.9|               929|
|10140|   Seoul| Seodaemun-gu|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|
|10150|   Seoul|    Seocho-gu|37.483804|127.032693|                     24|                27|               1|          2.6|                   13.39|                3.8|              1465|
|10160|   Seoul| Seongdong-gu|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|
|10170|   Seoul|  Seongbuk-gu|37.589562|  127.0167|                     29|                49|               6|         1.02|                   16.15|                6.0|               729|
|10180|   Seoul|    Songpa-gu| 37.51462|127.106141|                     40|                51|               1|         1.65|                    13.1|                4.1|              1527|
|10190|   Seoul| Yangcheon-gu|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|
+-----+--------+-------------+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
only showing top 20 rows

In [34]:
regions.limit(10).toPandas()

,code,province,city,latitude,longitude,elementary_school_count,kindergarten_count,university_count,academy_ratio,elderly_population_ratio,elderly_alone_ratio,nursing_home_count
0,10000,Seoul,Seoul,37.566953,126.977977,607,830,48,1.44,15.38,5.8,22739
1,10010,Seoul,Gangnam-gu,37.518421,127.047222,33,38,0,4.18,13.17,4.3,3088
2,10020,Seoul,Gangdong-gu,37.530492,127.123837,27,32,0,1.54,14.55,5.4,1023
3,10030,Seoul,Gangbuk-gu,37.639938,127.025508,14,21,0,0.67,19.49,8.5,628
4,10040,Seoul,Gangseo-gu,37.551166,126.849506,36,56,1,1.17,14.39,5.7,1080
5,10050,Seoul,Gwanak-gu,37.478290,126.951502,22,33,1,0.89,15.12,4.9,909
6,10060,Seoul,Gwangjin-gu,37.538712,127.082366,22,33,3,1.16,13.75,4.8,723
7,10070,Seoul,Guro-gu,37.495632,126.887650,26,34,3,1.00,16.21,5.7,741
8,10080,Seoul,Geumcheon-gu,37.456852,126.895229,18,19,0,0.96,16.15,6.7,475
9,10090,Seoul,Nowon-gu,37.654259,127.056294,42,66,6,1.39,15.40,7.4,952

In [71]:
# Join

cases = cases.join(regions,['province','city'],how='left')

cases.show()

+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|province|           city| case_id|group|      infection_case|confirmed| latitude| longitude| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|   Seoul|     Yongsan-gu| 1000001| true|       Itaewon Clubs|      139|37.538621|126.992652|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|
|   Seoul|      Gwanak-gu| 1000002| true|             Richway|      119| 37.48208|126.901384|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|        Guro-gu| 1000003| true| Guro-gu Call Center|       95|37.508163|126.884387|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|   Seoul|   Yangcheon-gu| 1000004| true|Yangcheon Table T...|       43|37.546061|126.874209|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|
|   Seoul|      Dobong-gu| 1000005| true|     Day Care Center|       43|37.679422|127.044374|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|
|   Seoul|        Guro-gu| 1000006| true|Manmin Central Ch...|       41|37.481059|126.894343|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|   Seoul|from other city| 1000007| true|SMR Newly Planted...|       36|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|  Dongdaemun-gu| 1000008| true|       Dongan Church|       17|37.592888|127.056766|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|
|   Seoul|from other city| 1000009| true|Coupang Logistics...|       25|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|      Gwanak-gu| 1000010| true|     Wangsung Church|       30|37.481735|126.930121|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|   Eunpyeong-gu| 1000011| true|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|
|   Seoul|   Seongdong-gu| 1000012| true|    Seongdong-gu APT|       13| 37.55713|  127.0403|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|
|   Seoul|      Jongno-gu| 1000013| true|Jongno Community ...|       10| 37.57681|   127.006|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu| 1000014| true|Samsung Medical C...|        7| 37.48825| 127.08559|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|        Jung-gu| 1000015| true|Jung-gu Fashion C...|        7|37.562405|126.984377|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|
|   Seoul|   Seodaemun-gu| 1000016| true|  Yeonana News Class|        5|37.558147|126.943799|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|
|   Seoul|      Jongno-gu| 1000017| true|Korea Campus Crus...|        7|37.594782|126.968022|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu| 1000018| true|Gangnam Yeoksam-d...|        6|        -|         -|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|from other city| 1000019| true|Daejeon door-to-d...|        1|        -|         -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|   Geumcheon-gu| 1000020| true|Geumcheon-gu rice...|        6|        -|         -|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|
+--------+---------------+--------+-----+--------------------+---------+---------+----------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
only showing top 20 rows

In [41]:
#SQL with dataframes

cases_table=cases.registerTempTable('cases_table')

/usr/local/lib/python3.8/dist-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [44]:
newDF = spark.sql("select * from cases_table where confirmed > 100")

In [45]:
newDF.show()

+-----------------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|         province|           city|    infection_source|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+-----------------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|            Seoul|     Yongsan-gu|       Itaewon Clubs|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|
|            Seoul|      Gwanak-gu|             Richway|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|            Seoul|              -|     overseas inflow|      298| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|            Seoul|              -|contact with patient|      162| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|            Daegu|         Nam-gu|  Shincheonji Church|     4511|12010|  35.8463|128.597723|                     11|                15|               2|         0.85|                   22.49|               10.4|               345|12010|  35.8463|128.597723|                     11|                15|               2|         0.85|                   22.49|               10.4|               345|
|            Daegu|   Dalseong-gun|Second Mi-Ju Hosp...|      196|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|
|            Daegu|         Seo-gu|Hansarang Convale...|      124|12060|35.871993|128.559182|                     17|                23|               0|         0.83|                   21.29|               10.1|               374|12060|35.871993|128.559182|                     17|                23|               0|         0.83|                   21.29|               10.1|               374|
|            Daegu|   Dalseong-gun|Daesil Convalesce...|      101|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|
|            Daegu|              -|contact with patient|      917| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|            Daegu|              -|                 etc|      747| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|      Gyeonggi-do|              -|     overseas inflow|      305| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|Chungcheongnam-do|     Cheonan-si|gym facility in C...|      103|41120| 36.81498|127.113868|                     75|               112|               6|         1.91|                   10.42|                4.5|              1069|41120| 36.81498|127.113868|                     75|               112|               6|         1.91|                   10.42|                4.5|              1069|
| Gyeongsangbuk-do|from other city|  Shincheonji Church|      566| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
| Gyeongsangbuk-do|   Cheongdo-gun|Cheongdo Daenam H...|      119|60200|35.647361|128.734382|                     11|                14|               0|         0.63|                   36.55|               21.0|                85|60200|35.647361|128.734382|                     11|                14|               0|         0.63|                   36.55|               21.0|                85|
| Gyeongsangbuk-do|              -|contact with patient|      190| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
| Gyeongsangbuk-do|              -|                 etc|      133| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
+-----------------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+

In [46]:
#create a New Column

caseswithNewConfirmed = cases.withColumn('NewConfirmed',100+F.col('confirmed'))


caseswithNewConfirmed.show()

+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+------------+
|province|           city|    infection_source|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|NewConfirmed|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+------------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|         239|
|   Seoul|      Gwanak-gu|             Richway|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|         219|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|         195|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|         143|
|   Seoul|      Dobong-gu|     Day Care Center|       43|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|         143|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|         141|
|   Seoul|from other city|SMR Newly Planted...|       36| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|         136|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|         117|
|   Seoul|from other city|Coupang Logistics...|       25| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|         125|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|         130|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|         114|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|         113|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|         110|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|         107|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|         107|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|         105|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|         107|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|         106|
|   Seoul|from other city|Daejeon door-to-d...|        1| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|         101|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|         106|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+------------+
only showing top 20 rows

In [72]:
cases.printSchema()

root
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |--  case_id: integer (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- code: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- elementary_school_count: integer (nullable = true)
 |-- kindergarten_count: integer (nullable = true)
 |-- university_count: integer (nullable = true)
 |-- academy_ratio: double (nullable = true)
 |-- elderly_population_ratio: double (nullable = true)
 |-- elderly_alone_ratio: double (nullable = true)
 |-- nursing_home_count: integer (nullable = true)

In [70]:
#Window Functions

In [74]:
timeprovince =spark.read.load("TimeProvince.csv",format="csv",inferSchema=True,header=True)

In [75]:
timeprovince.show()

+-------------------+----+-----------------+---------+--------+--------+
|               date|time|         province|confirmed|released|deceased|
+-------------------+----+-----------------+---------+--------+--------+
|2020-01-20 00:00:00|  16|            Seoul|        0|       0|       0|
|2020-01-20 00:00:00|  16|            Busan|        0|       0|       0|
|2020-01-20 00:00:00|  16|            Daegu|        0|       0|       0|
|2020-01-20 00:00:00|  16|          Incheon|        1|       0|       0|
|2020-01-20 00:00:00|  16|          Gwangju|        0|       0|       0|
|2020-01-20 00:00:00|  16|          Daejeon|        0|       0|       0|
|2020-01-20 00:00:00|  16|            Ulsan|        0|       0|       0|
|2020-01-20 00:00:00|  16|           Sejong|        0|       0|       0|
|2020-01-20 00:00:00|  16|      Gyeonggi-do|        0|       0|       0|
|2020-01-20 00:00:00|  16|       Gangwon-do|        0|       0|       0|
|2020-01-20 00:00:00|  16|Chungcheongbuk-do|        0|       0|       0|
|2020-01-20 00:00:00|  16|Chungcheongnam-do|        0|       0|       0|
|2020-01-20 00:00:00|  16|     Jeollabuk-do|        0|       0|       0|
|2020-01-20 00:00:00|  16|     Jeollanam-do|        0|       0|       0|
|2020-01-20 00:00:00|  16| Gyeongsangbuk-do|        0|       0|       0|
|2020-01-20 00:00:00|  16| Gyeongsangnam-do|        0|       0|       0|
|2020-01-20 00:00:00|  16|          Jeju-do|        0|       0|       0|
|2020-01-21 00:00:00|  16|            Seoul|        0|       0|       0|
|2020-01-21 00:00:00|  16|            Busan|        0|       0|       0|
|2020-01-21 00:00:00|  16|            Daegu|        0|       0|       0|
+-------------------+----+-----------------+---------+--------+--------+
only showing top 20 rows

In [76]:
from pyspark.sql.window import Window

**Ranking**

In [77]:
WindowSpec = Window().partitionBy(['province']).orderBy(F.desc('confirmed'))
cases.withColumn('rank',F.rank().over(WindowSpec)).show()

+-----------------+---------------+--------+-----+--------------------+---------+--------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+----+
|         province|           city| case_id|group|      infection_case|confirmed|latitude|longitude| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|rank|
+-----------------+---------------+--------+-----+--------------------+---------+--------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+----+
|            Busan|     Dongnae-gu| 1100001| true|       Onchun Church|       39|35.21628| 129.0771|11060| 35.20506|129.083673|                     22|                31|               0|         1.98|                   17.53|                7.7|               608|   1|
|            Busan|              -| 1100008|false|     overseas inflow|       36|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   2|
|            Busan|              -| 1100010|false|                 etc|       30|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   3|
|            Busan|              -| 1100009|false|contact with patient|       19|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   4|
|            Busan|from other city| 1100002| true|  Shincheonji Church|       12|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   5|
|            Busan|    Haeundae-gu| 1100004| true|Haeundae-gu Catho...|        6|35.20599| 129.1256|11160| 35.16336|129.163594|                     33|                39|               1|         1.63|                   16.53|                7.9|               814|   6|
|            Busan|     Suyeong-gu| 1100003| true|Suyeong-gu Kinder...|        5|35.16708| 129.1124|11120|35.145805|129.113194|                     10|                22|               0|         1.56|                    20.4|                8.2|               395|   7|
|            Busan|         Jin-gu| 1100005| true|      Jin-gu Academy|        4|35.17371| 129.0633| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   8|
|            Busan|from other city| 1100006| true|       Itaewon Clubs|        4|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   8|
|            Busan|from other city| 1100007| true|Cheongdo Daenam H...|        1|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|  10|
|Chungcheongbuk-do|              -| 4000005|false|     overseas inflow|       13|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   1|
|Chungcheongbuk-do|     Goesan-gun| 4000001| true|Goesan-gun Jangye...|       11|36.82422| 127.9552|40010| 36.81534|127.786651|                     14|                15|               1|         0.36|                   33.01|               16.5|                64|   2|
|Chungcheongbuk-do|              -| 4000007|false|                 etc|       11|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   2|
|Chungcheongbuk-do|from other city| 4000002| true|       Itaewon Clubs|        9|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   4|
|Chungcheongbuk-do|              -| 4000006|false|contact with patient|        8|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   5|
|Chungcheongbuk-do|from other city| 4000004| true|  Shincheonji Church|        6|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   6|
|Chungcheongbuk-do|from other city| 4000003| true| Guro-gu Call Center|        2|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   7|
|Chungcheongnam-do|     Cheonan-si| 4100001| true|gym facility in C...|      103|36.81503| 127.1139|41120| 36.81498|127.113868|                     75|               112|               6|         1.91|                   10.42|                4.5|              1069|   1|
|Chungcheongnam-do|              -| 4100006|false|     overseas inflow|       16|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   2|
|Chungcheongnam-do|              -| 4100008|false|                 etc|       12|       -|        -| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|   3|
+-----------------+---------------+--------+-----+--------------------+---------+--------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+----+
only showing top 20 rows

In [78]:
cases.printSchema()

root
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |--  case_id: integer (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- code: integer (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- elementary_school_count: integer (nullable = true)
 |-- kindergarten_count: integer (nullable = true)
 |-- university_count: integer (nullable = true)
 |-- academy_ratio: double (nullable = true)
 |-- elderly_population_ratio: double (nullable = true)
 |-- elderly_alone_ratio: double (nullable = true)
 |-- nursing_home_count: integer (nullable = true)

In [79]:
timeprovince.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- time: integer (nullable = true)
 |-- province: string (nullable = true)
 |-- confirmed: integer (nullable = true)
 |-- released: integer (nullable = true)
 |-- deceased: integer (nullable = true)

In [86]:
WindowSpec = Window().partitionBy(['province']).orderBy('date')
timeprovinceWithLag = timeprovince.withColumn("lag_7",F.lag('confirmed',7).over(WindowSpec))

In [87]:
timeprovinceWithLag.show()

+-------------------+----+--------+---------+--------+--------+-----+
|               date|time|province|confirmed|released|deceased|lag_7|
+-------------------+----+--------+---------+--------+--------+-----+
|2020-01-20 00:00:00|  16|   Busan|        0|       0|       0| null|
|2020-01-21 00:00:00|  16|   Busan|        0|       0|       0| null|
|2020-01-22 00:00:00|  16|   Busan|        0|       0|       0| null|
|2020-01-23 00:00:00|  16|   Busan|        0|       0|       0| null|
|2020-01-24 00:00:00|  16|   Busan|        0|       0|       0| null|
|2020-01-25 00:00:00|  16|   Busan|        0|       0|       0| null|
|2020-01-26 00:00:00|  16|   Busan|        0|       0|       0| null|
|2020-01-27 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-01-28 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-01-29 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-01-30 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-01-31 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-02-01 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-02-02 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-02-03 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-02-04 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-02-05 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-02-06 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-02-07 00:00:00|  16|   Busan|        0|       0|       0|    0|
|2020-02-08 00:00:00|  16|   Busan|        0|       0|       0|    0|
+-------------------+----+--------+---------+--------+--------+-----+
only showing top 20 rows

In [88]:
timeprovinceWithLag.filter(timeprovinceWithLag.date>'2020-03-10').show()

+-------------------+----+--------+---------+--------+--------+-----+
|               date|time|province|confirmed|released|deceased|lag_7|
+-------------------+----+--------+---------+--------+--------+-----+
|2020-03-11 00:00:00|   0|   Busan|       98|      21|       0|   92|
|2020-03-12 00:00:00|   0|   Busan|       99|      29|       0|   92|
|2020-03-13 00:00:00|   0|   Busan|      100|      36|       0|   95|
|2020-03-14 00:00:00|   0|   Busan|      103|      40|       0|   96|
|2020-03-15 00:00:00|   0|   Busan|      106|      52|       1|   96|
|2020-03-16 00:00:00|   0|   Busan|      107|      53|       1|   96|
|2020-03-17 00:00:00|   0|   Busan|      107|      54|       1|   96|
|2020-03-18 00:00:00|   0|   Busan|      107|      58|       1|   98|
|2020-03-19 00:00:00|   0|   Busan|      107|      58|       1|   99|
|2020-03-20 00:00:00|   0|   Busan|      108|      60|       1|  100|
|2020-03-21 00:00:00|   0|   Busan|      108|      67|       1|  103|
|2020-03-22 00:00:00|   0|   Busan|      108|      69|       1|  106|
|2020-03-23 00:00:00|   0|   Busan|      109|      71|       1|  107|
|2020-03-24 00:00:00|   0|   Busan|      111|      71|       1|  107|
|2020-03-25 00:00:00|   0|   Busan|      112|      73|       1|  107|
|2020-03-26 00:00:00|   0|   Busan|      112|      75|       2|  107|
|2020-03-27 00:00:00|   0|   Busan|      113|      81|       2|  108|
|2020-03-28 00:00:00|   0|   Busan|      114|      81|       2|  108|
|2020-03-29 00:00:00|   0|   Busan|      117|      85|       3|  108|
|2020-03-30 00:00:00|   0|   Busan|      118|      87|       3|  109|
+-------------------+----+--------+---------+--------+--------+-----+
only showing top 20 rows

Lead

In [89]:
WindowSpec = Window().partitionBy(['province']).orderBy('date')
timeprovinceWithLead = timeprovince.withColumn("lead_7",F.lead('confirmed',7).over(WindowSpec))

In [92]:
timeprovinceWithLead.filter(timeprovinceWithLead.date>"2020-03-10").show(30)

+-------------------+----+--------+---------+--------+--------+------+
|               date|time|province|confirmed|released|deceased|lead_7|
+-------------------+----+--------+---------+--------+--------+------+
|2020-03-11 00:00:00|   0|   Busan|       98|      21|       0|   107|
|2020-03-12 00:00:00|   0|   Busan|       99|      29|       0|   107|
|2020-03-13 00:00:00|   0|   Busan|      100|      36|       0|   108|
|2020-03-14 00:00:00|   0|   Busan|      103|      40|       0|   108|
|2020-03-15 00:00:00|   0|   Busan|      106|      52|       1|   108|
|2020-03-16 00:00:00|   0|   Busan|      107|      53|       1|   109|
|2020-03-17 00:00:00|   0|   Busan|      107|      54|       1|   111|
|2020-03-18 00:00:00|   0|   Busan|      107|      58|       1|   112|
|2020-03-19 00:00:00|   0|   Busan|      107|      58|       1|   112|
|2020-03-20 00:00:00|   0|   Busan|      108|      60|       1|   113|
|2020-03-21 00:00:00|   0|   Busan|      108|      67|       1|   114|
|2020-03-22 00:00:00|   0|   Busan|      108|      69|       1|   117|
|2020-03-23 00:00:00|   0|   Busan|      109|      71|       1|   118|
|2020-03-24 00:00:00|   0|   Busan|      111|      71|       1|   119|
|2020-03-25 00:00:00|   0|   Busan|      112|      73|       1|   122|
|2020-03-26 00:00:00|   0|   Busan|      112|      75|       2|   122|
|2020-03-27 00:00:00|   0|   Busan|      113|      81|       2|   122|
|2020-03-28 00:00:00|   0|   Busan|      114|      81|       2|   122|
|2020-03-29 00:00:00|   0|   Busan|      117|      85|       3|   122|
|2020-03-30 00:00:00|   0|   Busan|      118|      87|       3|   122|
|2020-03-31 00:00:00|   0|   Busan|      119|      87|       3|   123|
|2020-04-01 00:00:00|   0|   Busan|      122|      87|       3|   125|
|2020-04-02 00:00:00|   0|   Busan|      122|      87|       3|   125|
|2020-04-03 00:00:00|   0|   Busan|      122|      88|       3|   126|
|2020-04-04 00:00:00|   0|   Busan|      122|      90|       3|   126|
|2020-04-05 00:00:00|   0|   Busan|      122|      90|       3|   126|
|2020-04-06 00:00:00|   0|   Busan|      122|      91|       3|   126|
|2020-04-07 00:00:00|   0|   Busan|      123|      91|       3|   126|
|2020-04-08 00:00:00|   0|   Busan|      125|      94|       3|   127|
|2020-04-09 00:00:00|   0|   Busan|      125|      97|       3|   130|
+-------------------+----+--------+---------+--------+--------+------+
only showing top 30 rows

In [93]:
simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
 
columns= ["employee_name", "department", "salary"]

In [94]:
df = spark.createDataFrame(data =simpleData, schema=columns)

In [95]:
df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

In [97]:
df.show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [96]:
from pyspark.sql.functions import row_number

In [101]:
WindowSpec = Window().partitionBy('department').orderBy('salary')

df.withColumn("row_number", row_number().over(WindowSpec)).show(truncate=False)
df.withColumn("rank", rank().over(WindowSpec)).show(truncate=False)

+-------------+----------+------+----------+
|employee_name|department|salary|row_number|
+-------------+----------+------+----------+
|Maria        |Finance   |3000  |1         |
|Scott        |Finance   |3300  |2         |
|Jen          |Finance   |3900  |3         |
|Kumar        |Marketing |2000  |1         |
|Jeff         |Marketing |3000  |2         |
|James        |Sales     |3000  |1         |
|James        |Sales     |3000  |2         |
|Robert       |Sales     |4100  |3         |
|Saif         |Sales     |4100  |4         |
|Michael      |Sales     |4600  |5         |
+-------------+----------+------+----------+

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|Maria        |Finance   |3000  |1   |
|Scott        |Finance   |3300  |2   |
|Jen          |Finance   |3900  |3   |
|Kumar        |Marketing |2000  |1   |
|Jeff         |Marketing |3000  |2   |
|James        |Sales     |3000  |1   |
|James        |Sales     |3000  |1   |
|Robert       |Sales     |4100  |3   |
|Saif         |Sales     |4100  |3   |
|Michael      |Sales     |4600  |5   |
+-------------+----------+------+----+

In [103]:
from pyspark.sql.functions import dense_rank
WindowSpec = Window().partitionBy('department').orderBy('salary')
df.withColumn("rank", rank().over(WindowSpec)).show(truncate=False)
df.withColumn("dense_Rank", dense_rank().over(WindowSpec)).show(truncate=False)

+-------------+----------+------+----+
|employee_name|department|salary|rank|
+-------------+----------+------+----+
|Maria        |Finance   |3000  |1   |
|Scott        |Finance   |3300  |2   |
|Jen          |Finance   |3900  |3   |
|Kumar        |Marketing |2000  |1   |
|Jeff         |Marketing |3000  |2   |
|James        |Sales     |3000  |1   |
|James        |Sales     |3000  |1   |
|Robert       |Sales     |4100  |3   |
|Saif         |Sales     |4100  |3   |
|Michael      |Sales     |4600  |5   |
+-------------+----------+------+----+

+-------------+----------+------+----------+
|employee_name|department|salary|dense_Rank|
+-------------+----------+------+----------+
|Maria        |Finance   |3000  |1         |
|Scott        |Finance   |3300  |2         |
|Jen          |Finance   |3900  |3         |
|Kumar        |Marketing |2000  |1         |
|Jeff         |Marketing |3000  |2         |
|James        |Sales     |3000  |1         |
|James        |Sales     |3000  |1         |
|Robert       |Sales     |4100  |2         |
|Saif         |Sales     |4100  |2         |
|Michael      |Sales     |4600  |3         |
+-------------+----------+------+----------+

In [104]:
from pyspark.sql.functions import percent_rank
WindowSpec = Window().partitionBy('department').orderBy('salary')
df.withColumn("PErcent_rank", percent_rank().over(WindowSpec)).show(truncate=False)

+-------------+----------+------+------------+
|employee_name|department|salary|PErcent_rank|
+-------------+----------+------+------------+
|Maria        |Finance   |3000  |0.0         |
|Scott        |Finance   |3300  |0.5         |
|Jen          |Finance   |3900  |1.0         |
|Kumar        |Marketing |2000  |0.0         |
|Jeff         |Marketing |3000  |1.0         |
|James        |Sales     |3000  |0.0         |
|James        |Sales     |3000  |0.0         |
|Robert       |Sales     |4100  |0.5         |
|Saif         |Sales     |4100  |0.5         |
|Michael      |Sales     |4600  |1.0         |
+-------------+----------+------+------------+

In [109]:
from pyspark.sql.functions import ntile
WindowSpec = Window().partitionBy('department').orderBy('salary')
df.withColumn("N_tile", ntile(2).over(WindowSpec)).show(truncate=False)

+-------------+----------+------+------+
|employee_name|department|salary|N_tile|
+-------------+----------+------+------+
|Maria        |Finance   |3000  |1     |
|Scott        |Finance   |3300  |1     |
|Jen          |Finance   |3900  |2     |
|Kumar        |Marketing |2000  |1     |
|Jeff         |Marketing |3000  |2     |
|James        |Sales     |3000  |1     |
|James        |Sales     |3000  |1     |
|Robert       |Sales     |4100  |1     |
|Saif         |Sales     |4100  |2     |
|Michael      |Sales     |4600  |2     |
+-------------+----------+------+------+

In [112]:
from pyspark.sql.functions import cume_dist
df.withColumn("PErcent_rank", percent_rank().over(WindowSpec)).show(truncate=False)
df.withColumn("CUME_DIST", cume_dist().over(WindowSpec)).show(truncate=False)

+-------------+----------+------+------------+
|employee_name|department|salary|PErcent_rank|
+-------------+----------+------+------------+
|Maria        |Finance   |3000  |0.0         |
|Scott        |Finance   |3300  |0.5         |
|Jen          |Finance   |3900  |1.0         |
|Kumar        |Marketing |2000  |0.0         |
|Jeff         |Marketing |3000  |1.0         |
|James        |Sales     |3000  |0.0         |
|James        |Sales     |3000  |0.0         |
|Robert       |Sales     |4100  |0.5         |
|Saif         |Sales     |4100  |0.5         |
|Michael      |Sales     |4600  |1.0         |
+-------------+----------+------+------------+

+-------------+----------+------+------------------+
|employee_name|department|salary|CUME_DIST         |
+-------------+----------+------+------------------+
|Maria        |Finance   |3000  |0.3333333333333333|
|Scott        |Finance   |3300  |0.6666666666666666|
|Jen          |Finance   |3900  |1.0               |
|Kumar        |Marketing |2000  |0.5               |
|Jeff         |Marketing |3000  |1.0               |
|James        |Sales     |3000  |0.4               |
|James        |Sales     |3000  |0.4               |
|Robert       |Sales     |4100  |0.8               |
|Saif         |Sales     |4100  |0.8               |
|Michael      |Sales     |4600  |1.0               |
+-------------+----------+------+------------------+

In [114]:
df.withColumn("Lag",lag('salary',2).over(WindowSpec)).show(truncate=False)

+-------------+----------+------+----+
|employee_name|department|salary|Lag |
+-------------+----------+------+----+
|Maria        |Finance   |3000  |null|
|Scott        |Finance   |3300  |null|
|Jen          |Finance   |3900  |3000|
|Kumar        |Marketing |2000  |null|
|Jeff         |Marketing |3000  |null|
|James        |Sales     |3000  |null|
|James        |Sales     |3000  |null|
|Robert       |Sales     |4100  |3000|
|Saif         |Sales     |4100  |3000|
|Michael      |Sales     |4600  |4100|
+-------------+----------+------+----+

In [117]:
df.withColumn("Lead",lead('salary',2).over(WindowSpec)).show()

+-------------+----------+------+----+
|employee_name|department|salary|Lead|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|3900|
|        Scott|   Finance|  3300|null|
|          Jen|   Finance|  3900|null|
|        Kumar| Marketing|  2000|null|
|         Jeff| Marketing|  3000|null|
|        James|     Sales|  3000|4100|
|        James|     Sales|  3000|4100|
|       Robert|     Sales|  4100|4600|
|         Saif|     Sales|  4100|null|
|      Michael|     Sales|  4600|null|
+-------------+----------+------+----+

In [127]:
from pyspark.sql.functions import col,avg,sum,min,max,row_number,rank,dense_rank

df.withColumn('row',row_number().over(WindowSpec)) \
  .withColumn('avg',avg(col("salary")).over(WindowSpec)) \
  .withColumn('sum',sum(col('salary')).over(WindowSpec)) \
  .withColumn('min',min(col("salary")).over(WindowSpec)) \
  .withColumn('max',max(col('salary')).over(WindowSpec)) \
  .withColumn('rank',rank().over(WindowSpec)) \
  .withColumn("Lag",lag('salary',2).over(WindowSpec))\
  .withColumn("Lead",lead('salary',2).over(WindowSpec))\
  .withColumn('dense_rank',dense_rank().over(WindowSpec)).show()

+-------------+----------+------+---+------+-----+----+----+----+----+----+----------+
|employee_name|department|salary|row|   avg|  sum| min| max|rank| Lag|Lead|dense_rank|
+-------------+----------+------+---+------+-----+----+----+----+----+----+----------+
|        Maria|   Finance|  3000|  1|3000.0| 3000|3000|3000|   1|null|3900|         1|
|        Scott|   Finance|  3300|  2|3150.0| 6300|3000|3300|   2|null|null|         2|
|          Jen|   Finance|  3900|  3|3400.0|10200|3000|3900|   3|3000|null|         3|
|        Kumar| Marketing|  2000|  1|2000.0| 2000|2000|2000|   1|null|null|         1|
|         Jeff| Marketing|  3000|  2|2500.0| 5000|2000|3000|   2|null|null|         2|
|        James|     Sales|  3000|  1|3000.0| 6000|3000|3000|   1|null|4100|         1|
|        James|     Sales|  3000|  2|3000.0| 6000|3000|3000|   1|null|4100|         1|
|       Robert|     Sales|  4100|  3|3550.0|14200|3000|4100|   3|3000|4600|         2|
|         Saif|     Sales|  4100|  4|3550.0|14200|3000|4100|   3|3000|null|         2|
|      Michael|     Sales|  4600|  5|3760.0|18800|3000|4600|   5|4100|null|         3|
+-------------+----------+------+---+------+-----+----+----+----+----+----+----------+

In [ ]:
.